body {
    background-image: url('../images/poker.jpg');
    background-size: cover;
    opacity: 75%;
}

.mainContainer {
    margin: 100px;
    padding: 50px;
}

.title {
    text-align: center;
    align-content: center;
    font-size: 30px;
    padding: 15px;
    background-color: black;
    color: white;
}

.mainMessage {
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.options {
    margin: 80px;
    padding: 25px;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 1);
}

.options h2 {
    font-size: 35px;
    color: white;
}

.options a {
    margin: 25px;
    padding: 10px;
    text-decoration: none;
}

.options a:link {
    color: blue;
}

.options a:hover {
    color: white;
}

.options a:visited {
    color: lightblue;
}

.options a:active {
    color: white;
}

.formContainer {
    margin: 50px;
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    text-align: center;
    align-items: center;
    color: white;
}

.formContainer form {
    padding: 5px;
    max-width: 100%;
    position: relative;
}

#submit {
    position: absolute;
    right: 0;
}